<p class="text-xl font-light leading-relaxed mb-4 text-gray-700">
  Strap is a script to bootstrap a minimal macOS development system.
  This does not assume you're doing Ruby/Rails/web development but installs the minimal set of software every macOS developer will want.
</p>

To Strap your system:
<ol class="list-decimal pl-10 mb-4 space-y-0.5">
  <%= before_install_list_item %>

  <% authenticated = session[:auth].present? %>
  <li>
    <%= login_step(authenticated:) %>
  </li>

  <li>
    <%= download_step(authenticated:) %>
  </li>

  <li>
    Run Strap in Terminal.app with
    <%= strap_code_tag("bash ~/Downloads/strap.sh") %>.
  </li>

  <li>
    If something failed, run Strap with more debugging output in
    Terminal.app with
    <%= strap_code_tag("bash ~/Downloads/strap.sh --debug") %>
    and
    <%= debugging_text %>.
  </li>

  <li>
    Delete the customised
    <%= strap_code_tag("strap.sh") %>
    (it has a GitHub token in it) in Terminal.app with
    <%= strap_code_tag("rm -f ~/Downloads/strap.sh") %>
  </li>

  <li>
    Install additional software with
    <%= strap_code_tag("brew install") %>.
  </li>
</ol>

<p class="text-xl font-light leading-relaxed mb-4 text-gray-700">
  I maintain 👢 Strap in my spare time and am self-employed.
  Please
  <%= strap_link_to "sponsor me on GitHub Sponsors", "https://github.com/sponsors/MikeMcQuaid" %>,
  thanks ❤️!
</p>
